.tittle {
    background-color: #2F303A;
    max-width: 480px;
    height: 400px;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
            background-image: linear-gradient(to right,
              rgba(47, 48, 58, 0.4),
              rgba(47, 48, 58, 0.4)),
        url(../image/header-mobile-2.jpg);
        max-width: 768px;
        height: 400px;
        padding: 118px 0 118px;
    }
    @media screen and (min-width: 1200px) {
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../image/hero-img.jpg);
        max-width: 1600px;
        height: 600px;
    }
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
    url(../image/header-mobile.jpg);
    padding: 118px 0 118px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.tittle__text {
    color: var(--animation-color);
    @media screen and (min-width: 1200px) {
        @include font(44px, 900, 1.36em, 0.06em);
        max-width: 696px;
    }
    @include font(26px, 900, 1.61em, 0.06em);
    text-align: center;
    text-transform: uppercase;
    max-width: 360px;
    text-align: center;
    margin: 0px auto 30px;
}

.tittle__botton {
    color: var(--animation-color);
    background-color: var(--button-color);
    @include font(16px, 700, 1.88em, 0.06em);
    border: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: inherit;
    cursor: pointer;
    margin: 0 auto;
    padding: 10px 32px;
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #188CE8;
        color: var(--animation-color);
    }
}